body{
    background-color: black; 
    margin-left: auto;
    margin-right: auto;
}
/*.randomImage{
  max-height: auto;
  max-width: 100%;
}*/
.imgWrapper{
  display: inline-block;
  position: relative;
}
.button{
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  line-height: 1em;
  width: 140px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}/*this one should appear after click*/
.button__getImage{
  position: absolute;
  left: 0px;
  top: 0px;
}/*
.button:active,
.button:hover {
  outline: 0;
}*/
.button__saveImage{
  position: absolute;
  left: 145px;
  top: 0px;
}
.shareButton{
  position: absolute;
  left: 290px;
  top: 0px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icon{
  width: 48px;
  height: 48px;
}

.icon:hover{
  opacity: 0.5;
}